@import url('https://fonts.googleapis.com/css2?family=Seymour+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&family=Seymour+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Rubik+Bubbles&family=Seymour+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Nunito:wght@500&family=Rubik+Bubbles&family=Seymour+One&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'East Sea Dokdo', cursive;
    font-size: 45px;
}

.header{
    display: grid;
}

.logo{
    text-align: center;
}

.logo H1{
    font-size: 80px;
}

.logo p{
    top: 0;
}

.username{
    position: absolute;
    top: 2%;
    right: 1%;
}

